@media (max-width: 900px) {
  .license-container {
    padding: 20px 50px;
  }

  .license {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .aboutpage-main p {
    font-size: 3rem;
  }

  .license-container {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .aboutpage-main p {
    font-size: 2.2rem;
  }
}

@media (max-width: 300px) {
  .license {
    font-size: 1.5rem;
  }
}
