.aboutpage-main {
  min-height: 84vh;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutpage-main p {
  font-size: 4rem;
  font-weight: bolder;
  color: #fff;
}

.license-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95vw;

  padding: 20px 100px;
  margin: 40px 20px;

  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);

  max-width: 90vw;
  z-index: 10;
}

.license-type {
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}

.license-container hr {
  width: 100%;
  height: 3px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px 0px;
}

.license {
  color: #fff;
  font-size: 2rem;
}

.license-container .credit-link {
  color: rgb(255, 51, 0);
  font-style: italic;
  font-weight: bold;
  font-size: 2.2rem;
}
