@media (max-width: 600px) {
  .contactspage-main p {
    font-size: 3rem;
  }

  .contact-info p {
    font-size: 1.75rem;
  }
}

@media (max-width: 400px) {
  .contactspage-main p {
    font-size: 2rem;
  }

  .contact-info p {
    font-size: 1.5rem;
  }
}
