@media (max-width: 1000px) and (min-width: 700px) {
  .user-info input {
    text-align: end;
  }
}

@media (max-width: 700px) {
  .user-info-container {
    border-radius: 10px;
    padding: 20px 10px;
  }

  .set-name {
    flex-direction: column;
  }

  .set-name input {
    margin: 5px 0;
  }

  .user-info p {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .user-info input {
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  .user-info p b {
    width: 100%;
  }

  .profile-main h1 {
    font-size: 3.5rem;
  }

  .profile-main h2 {
    font-size: 2.5rem;
  }

  .profile-main p,
  .set-name span {
    font-size: 1.8rem;
  }

  .logout-btn,
  .rm-particles-btn {
    font-size: 1.8rem;
    width: 250px;
  }

  .logout-btn:hover,
  .rm-particles-btn:hover {
    box-shadow: inset 255px 0 0 0 rgb(255, 255, 255);
  }

  .profile-main h1 {
    margin-top: 100px;
  }

  .rm-particles-container {
    flex-direction: column;
  }

  .logout-btn,
  .rm-particles-btn {
    margin: 5px 0;
    padding: 7.5px 0;
  }
}

@media (max-width: 450px) {
  .profile-main h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .profile-main h2 {
    font-size: 2rem;
  }

  .profile-main p,
  .set-name span {
    font-size: 1.5rem;
  }

  .logout-btn,
  .rm-particles-btn {
    font-size: 1.5rem;
    width: 200px;
  }

  .logout-btn:hover,
  .rm-particles-btn:hover {
    box-shadow: inset 205px 0 0 0 rgb(255, 255, 255);
  }
}
