.nopage-main {
  height: 84vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nopage-main p:first-of-type {
  font-size: 4rem;
}

.nopage-main p {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
}

.bee-p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bee-p img {
  width: 100px;
  margin-right: 10px;
}
