.hive-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-direction: row;

  cursor: default;
}

.rotating-refresh.loadingPage {
  margin: 10px;
}

.hive-container img {
  cursor: pointer;
}

.hive-container img {
  width: 15px;
}

.add-aphv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80%;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.add-aphv-container h3 {
  font-size: 2rem;
  margin: 5px;
  font-weight: bold;
}

.add-aphv-container input,
.add-aphv-container button {
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
  color: #fff;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;

  transition: all 0.1s ease-in-out;
}

.add-aphv-container input {
  width: 90%;
  border-width: 0 0 2px 0;
  border-color: rgba(255, 255, 255, 0.75);
}

.add-aphv-container input:focus {
  border-color: #fff;
}

.add-aphv-container input::-webkit-outer-spin-button,
.add-aphv-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-aphv-container button {
  margin-top: 10px;
  padding: 5px 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

.add-aphv-container button:hover {
  background-color: #fff;
  color: #ff3600;
}

.error-msg {
  cursor: default;

  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 1px;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  background: #ff6334;
  background: -webkit-linear-gradient(to right, #ff6334, #ff3c00);
  background: linear-gradient(to right, #ff6334, #ff3c00);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.rotating-refresh {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
