@media (max-width: 900px) {
  .tempnotes-main p {
    font-size: 3rem;
  }

  .tempnotes-main h3 {
    font-size: 2rem;
  }

  .note h1 {
    font-size: 2rem;
  }

  .note h2 {
    font-size: 1rem;
  }

  .note span {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .note {
    max-width: 85vw;
    width: 85vw;
  }
}

@media (max-width: 700px) {
  .tempnotes-main p {
    font-size: 2.5rem;
  }

  .tempnotes-main h3 {
    font-size: 1.8rem;
  }

  .note h1 {
    font-size: 1.8rem;
  }

  .note h2 {
    font-size: 1rem;
  }

  .note span {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .note {
    max-width: 95vw;
    width: 95vw;
  }
}
