.apiarypage-main {
  height: 100%;
  min-height: 84vh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;

  margin: 0;
  padding: 0;

  font-size: 2rem;
  color: #fff;
}

.not-logged {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 84vh;
  width: 100%;
}

.menus {
  width: 15%;

  margin: 1vh 0;
  padding: 0;

  border: 1px solid #fff;
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 1px 1px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 10;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.apiaries {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 0px;

  overflow-x: auto;
}

.apiary-title {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
  font-weight: bold;
  background-color: #fff;
  color: #ff4800;
  margin: 0;
  padding: 10px 0px 10px 0px;
  border-radius: 1px 1px 0px 0px;
  cursor: default;
}

.apiary {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;

  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  border-radius: 1px;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}

.apiary div {
  margin-top: 10px;
}

.apiary div p {
  text-align: center;
  width: 80%;
  padding: 10px;
  margin: 5px 10px;
  transition: all 0.05s linear;
}

.apiary div img {
  margin-right: 5px;
  padding: 5px;
  min-width: 30px;
  width: 20%;
}

.apiary div p:hover,
.apiary .selected {
  box-shadow: inset 0 -2px 0 0 rgb(255, 255, 255);
}

.apiary .selected {
  opacity: 0.75;
}

.graphs {
  width: 80%;
  height: 100%;
  z-index: 10;
  min-height: 84vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin-bottom: 5vh;
}

.graphs h1 {
  align-self: center;
}

.graphs h1:first-of-type {
  margin-bottom: 0px;
}

#actual-values {
  position: fixed;
  z-index: 100;
  top: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  min-height: 200px;
  height: 40vh;
  max-height: 400px;

  margin-top: 1vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);

  cursor: default;

  border: 2px solid #fff;
  border-radius: 1px;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#actual-values,
#actual-values h1 {
  margin-bottom: 20px;
}

#actual-values h1 {
  margin-top: 0px;
  font-size: 2.5rem;
}

.graph-opt-container {
  margin-top: 40vh;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;

  width: 80vw;
}

.select-date {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: #3b3b3b;
  font-size: 1.75rem;

  border: 2px solid #ff4800;
}

/* Dropdown menu -> */
*,
*:after,
*:before {
  box-sizing: border-box;
}

.custom-select-wrapper {
  user-select: none;
  width: 30vw;

  margin-top: 50px;
}
.custom-select {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #ff4800;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 2rem;
  font-weight: 300;
  color: #3b3b3b;
  height: 60px;
  line-height: 60px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #ff4800;
}
.custom-options {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  top: 100%;
  left: 0px;
  right: 0px;
  border: 2px solid #ff4800;
  border-top: 0;
  background: rgb(255, 255, 255);
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 2rem;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.1s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #ff4800;
}
/* <- Dropdown menu */

/* Dropdown arrow -> */
.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #ff4800;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #ff4800;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}
/* <- Dropdown arrow */

.selected-hive-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#charts {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#charts h3 {
  cursor: default;
  margin: 0;
  padding: 0;

  margin-top: 10px;
}
